@use '../_variables' as vars;

.contact {
    padding: 3rem 2rem;
    text-align: center;

    h2 {
        color: vars.$primary-color;
        margin-bottom: 1rem;
    }

    p {
        margin: 0.5rem 0;

        a {
            color: vars.$primary-color;
            text-decoration: underline;
        }
    }
}