@use "../_variables" as *;
@use "../_mixins" as *;

.contact {
  padding: ptr(64px) ptr(32px);
  text-align: center;

  h2 {
    font-size: ptr(32px);
    margin-bottom: ptr(32px);
    color: $primary-color;

    @include mobile {
      font-size: ptr(28px);
      margin-bottom: ptr(24px);
    }
  }

  .contact-list {
    list-style: none;
    padding: 0;
    margin: 0 auto ptr(48px);
    max-width: 400px;

    @include mobile {
      margin-bottom: ptr(32px);
    }

    li {
      margin: ptr(16px) 0;
      font-size: ptr(17.6px);

      @include mobile {
        font-size: ptr(16px);
      }

      a {
        // ...
      }
    }
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 500px;
    margin: 0 auto;

    input,
    textarea {
      width: 100%;
      padding: ptr(12.8px) ptr(16px);
      background: transparent;
      border: 1px solid $primary-color;
      border-radius: 8px;
      color: white;
      font-size: ptr(16px);
      resize: none;

      @include mobile {
        font-size: ptr(15px);
        padding: ptr(12px) ptr(12px);
      }
    }

    button {
      background: $primary-color;
      color: black;
      font-weight: 600;
      padding: ptr(12px) ptr(32px);
      border: none;
      border-radius: 8px;
      cursor: not-allowed;
      opacity: 0.5;

      @include mobile {
        padding: ptr(12px) ptr(24px);
      }
    }
  }
}
