@use "../_variables" as *;
@use "../_mixins" as *;

.experience {
  padding: ptr(48px) ptr(32px);

  h2 {
    font-size: ptr(32px);
    margin-bottom: ptr(32px);
    color: $primary-color;
    text-align: center;

    @include mobile {
      font-size: ptr(28px);
      margin-bottom: ptr(24px);
    }
  }

  .exp-entry {
    margin-bottom: ptr(32px);
    border-left: 4px solid $primary-color;
    padding-left: ptr(16px);

    @include mobile {
      margin-bottom: ptr(24px);
      padding-left: ptr(12px);
    }

    h3 {
      margin-bottom: ptr(4.8px);

      @include mobile {
        font-size: ptr(16px);
      }
    }

    span {
      color: #777;
      font-size: ptr(13.6px);

      @include mobile {
        font-size: ptr(12.8px);
      }
    }

    p {
      margin-top: ptr(8px);

      @include mobile {
        font-size: ptr(15px);
      }
    }
  }
}
