@use "../_variables" as *;
@use "../_mixins" as *;

.intro {
  padding: ptr(64px) ptr(32px);
  background-color: $light-bg;
  text-align: center;

  h1 {
    font-size: ptr(48px);
    color: $primary-color;

    @include mobile {
      font-size: ptr(36px);
    }
  }

  p {
    margin-top: ptr(16px);
    font-size: ptr(20px);
    max-width: 800px;
    color: $light-bg;
    margin-inline: auto;

    @include mobile {
      font-size: ptr(16px);
    }
  }
}
